<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Service Unavailable</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style type="text/css">
      @import url({{ webagent_url }}/utdirect/system/css/utd_typography.css);
      @import url({{ webagent_url }}/utdirect/system/css/custom_utdirect.css);
      @import url({{ webagent_url }}/utdirect/system/css/utd_subnav.css);

    </style>
    <style>
    body { background: none; background-color: white; }
    h1 { font-size: 3em; border-bottom: 1px solid #999; padding-bottom: 10px; }
    ul { margin: 1em 0; }
    p { line-height: 1.75em; font-size: 1.25em; margin: 2em 0; }
    a { font-weight: bold; }
    blockquote { margin: 1.5em 0 1em 3em; font-size: 1.5em; line-height: 1em; }
    blockquote:before { content: "\0201C"; color: #AAA; font-size: 5em; vertical-align: bottom; padding-top: 10px; margin-right: 10px; }
    #utd_container { padding-left: 200px; width: 800px; }
    </style>
</head>

<body>

<div id="header"> <!-- HEADER -->
    <div id="mainnavtext"> <!-- MAINNAVTEXT -->
        <!--<ul>
            <li>
                <a href="{{ webagent_url }}/utdirect/help/index.WBX?c=0" onclick="utd_openNPW('{{ webagent_url }}/utdirect/help/index.WBX?c=0','win','height=400,width=500,location=no,menubar=no,resizable=yes,scrollbars=yes,status=no,toolbar=no'); return false;">UT Direct Help</a>
            </li>
            <li class="last_item">
                <a href="{{ webagent_url }}/security-443/logoff.cgi?goto=http://www.utexas.edu">Logoff</a>
            </li>
            <li class="last_item">
                <a href="{{ webagent_url }}/utdirect/index.WBX?t=MYHOME" title="My Home Tab" accesskey="1">
                    <img alt="UT Direct Home" title ="UT Direct Home" src="{{ webagent_url }}/utdirect/system/images/home.png"/>
                </a>
            </li>
            <li class="last_item">
                <a id="search_link" href="#">
                    <img alt="Search UT Direct" title ="Search UT Direct" src="{{ webagent_url }}/utdirect/system/images/search.png"/>
                </a>
            </li>
        </ul>-->
    </div> <!-- MAINNAVTEXT CLOSE -->
    <div id="search_display">   <!-- SEARCH_DISPLAY -->
        <form name="utd_search" id="search_form" action="{{ webagent_url }}/utdirect/search/index.WBX" method="get">
            <input type="hidden" name="s_component" value="0" />
            <input type="hidden" name="s_environment" value="PUTD" />
            <input type="hidden" name="s_security_flag" value="S" />

            <label for="search_type" class="nodisplaytext">Select the type of search to perform:</label>
            <select  id="search_type" name="s_search_type">
                <option  value="SS">any word</option>
                <option  value="AW">all words</option>
                <option  value="EX">exact phrase</option>
            </select>

            <label for="search_term" class="nodisplaytext">Enter a search term:</label>
            <input id="search_term" type="text" name="input_srch_string" size="72" maxlength="126" title="You may search for a maximum of 7 words" value="" />
            <input type="submit" value="search" />
        </form>
    </div>   <!-- SEARCH_DISPLAY CLOSE -->
    <div id="header_bottom"> <!-- HEADER_BOTTOM -->
    </div> <!-- HEADER_BOTTOM CLOSE -->

    <div id="ut_ribbon" onclick="location.href='http://www.utexas.edu';" style="cursor:pointer;" title="Link to University of Texas homepage">  <!-- UT_RIBBON -->
    </div>  <!-- UT_RIBBON CLOSE -->

</div>  <!-- HEADER CLOSE -->


<!-- NAVBAR_UT_DIRECT_LOGO -->
<!--<div id="navbar_ut_direct_logo" onclick="location.href='/utdirect/index.WBX';" style="cursor:pointer;" title="Link to UT Direct homepage">
</div>-->


<div id="utd_container">  <!-- UTD_CONTAINER -->
    <h1 class="highlight1">Service Unavailable (503)</h1>

    <h2>We are experiencing technical difficulties.</h2>

    {% if vipr_outage %}
    <p>VIP and associated Office of Development applications are currently down for planned database and backend maintainence. We expect to return to normal service before the end of the day.</p>

    <p>Please review the following alternative options for service:</p>

    <dl>
        <dt>If you are trying to give a gift to the university, we thank you and offer the following:</dt>
        <dd>
            <ul>
                <li>Our Gift &amp; Data Services Team or your normal college development staff are always happy to accept gifts via check if mailed.</li>
                <li>If you would like to give a credit card gift, you can do so <a>via our alternate giving portal</a>.</li>
                <li>(Maybe some other things?)</li>
            </ul>
        </dd>

        <dt>(Here would go other service types)</dt>
        <dd>(And other service options.)</dd>

        <dt>If this is to report a different problem or question with this application, or for more details on this outage:</dt>
        <dd>Please contact {{ contact }}.</dd>
    </dl>
    {% else %}
    <p>VIP and associated Office of Development applications are currently down due to technical problems. You are not at fault. The Office of Development Programming Team is notified in the event of outages such as this and are probably already looking into the problem. However, if the problem persists or if you feel you have received this message in error, please contact {{ contact }} to report the problem.</p>
    {% endif %}

    <p>We apologize for the inconvenience; thank you for your patience.</p>
</div>

</body>

</html>
<!-- IE needs 512+ bytes: http://blogs.msdn.com/b/ieinternals/archive/2010/08/19/http-error-pages-in-internet-explorer.aspx -->
